.body {
    background-color: #FBF9F6;
    min-height: 100vh;
}

.header-left button {
    background-color: #F3E5CF;
    border-radius: 10px;
}

.header-left i {
    color: #20D489;
}

.header-left button:hover {
    background-color: #cfc09d;
    border-radius: 10px;
}

.header-left h5 {
    padding-left: 10px;
    font-weight: bold;
}


.right-button {
    border-radius: 10px;
    transition: 0.6s;
}

.right-button:hover {
    background-color: #ffe9c2;
    border-radius: 10px;
    transition: 0.6s;
}


.right-notification {
    background-color: #f5b7c4;
    color: #F1416C;
}

.right-notification:hover {
    background-color: #F1416C;
    border-radius: 10px;
    color: white;
}

.right-notification b {
    color: #F1416C;
}

.right-notification b:hover {
    color: white;
}


.main-layer {
    background-color: white;
    box-shadow: 0 0 10px #cecece;
    max-width: 100%;
    min-height: 24rem;
    height: auto;
    margin: 30px 0 0 0;
    border-radius: 10px;
    display: inline-block;
}

.campaign-leaders {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


.first-layer-card button {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    background-color: #19B674;
    color: white;
    border-radius: 10px;
}

.first-layer-card button:hover {
    background-color: #127d4f;
    color: white;
}


.work-icon {
    background-image: url("../img/work_icon.jpg");
    background-size: 220px;
    width: 250px;
    height: 100px;
    background-repeat: no-repeat;
}



.first-layer-right button{
    border-radius: 10px;
}

.first-layer-right button:hover {
    background-color: #cecece;
    color: white;
    border-radius: 10px;
}


.progress-left-icon button {
    margin-top: 10px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
}

.progress-bar-area button {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.progress-bar-area button i:hover {
    color: #2DD690;
}


.second-layer-left-header button {
    border-radius: 10px;
    color: #2DD690;
    transition: 0.5s;
}

.second-layer-left-header button:hover {
    border-radius: 10px;
    background-color: #2DD690;
    color: white;
    transition: 0.5s;
}

.second-layer-left-middle-right {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #e9e9e9 ;
}

.second-layer-left-middle-right button {
    background-color: #F5F8FA;
}


.peoples-achievement-layer button {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.peoples-achievement-layer button i:hover {
    color: #2DD690;
}

.achievement-area-top {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}


.achievement-area button {
    margin-top: 10px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
}

.achievement-area a {
    font-weight: bold;
    color: black;
    transition: 0.7s;
}
.achievement-area a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #2DD690;
    transition: 0.7s;
}

.milestone {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.milestone-top button {
    border-radius: 10px;
}

.milestone-top button:hover {
    background-color: #E4FFF4;
    border-radius: 10px;
}


.milestone-right-label-left {
    background-color: #F5F8FA;
    border-radius: 10px 30px 30px 10px;
    margin: 10px;
    height: 70px;
    width: 230px;
}

.footer h6 {
    color: #7a7b7c;
    transition: 0.6s;
    padding: 0 5px 0 5px;
}


.footer h6:hover {
    color: #2DD690;
    transition: 0.6s;
    cursor: pointer;
}