.body {
    background-color: #FBF9F6;
    min-height: 100vh;
}

.header-left i {
    color: #20D489;
}

.header-left button {
    background-color: #F3E5CF;
    border-radius: 10px;
}

.header-left button:hover {
    background-color: #cfc09d;
    border-radius: 10px;
}

.header-left h5 {
    padding-left: 10px;
    font-weight: bold;
}


.right-button {
    border-radius: 10px;
    transition: 0.6s;
}

.right-button:hover {
    background-color: #ffe9c2;
    border-radius: 10px;
    transition: 0.6s;
}


.right-notification {
    background-color: #f5b7c4;
    color: #F1416C;
}

.right-notification:hover {
    background-color: #F1416C;
    border-radius: 10px;
    color: white;
}

.right-notification b {
    color: #F1416C;
}

.right-notification b:hover {
    color: white;
}

.footer h6 {
    color: #7a7b7c;
    transition: 0.6s;
    padding: 0 5px 0 5px;
}


.footer h6:hover {
    color: #2DD690;
    transition: 0.6s;
    cursor: pointer;
}


.top-bar button {
    font-weight: bold;
    color: black;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    transition: 0.5s;
}

.top-bar button:hover {
    color: #19B674;
    background-color: #F3E5CF;
    transition: 0.5s;
}


.custom-big-card {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 40px 0 40px 0;
}


.custom-card-input-area {
    padding-top: 40px;
}

.custom-card-input-area input {
    color: #5E6278;
    outline: 0;
    border: none;
    background-color: #F5F8FA;
    min-width: 70%;
    height: 45px;
    border-radius: 8px;
}


.custom-card-input-area select {
    color: #5E6278;
    outline: 0;
    border: none;
    background-color: #F5F8FA;
    min-width: 70%;
    height: 45px;
    border-radius: 8px;
}

.custom-card-input-area-email {
    padding-top: 40px;
}

.custom-card-input-area-email input {
    color: #5E6278;
    outline: 0;
    border: none;
    background-color: #F5F8FA;
    min-width: 63%;
    height: 45px;
    border-radius: 0 8px 8px 0;
}

.custom-card-input-area-email i {
    width: 40px;
    height: 45px;
    background-color: #F5F8FA;
    color: #7a7b7c;
    border-radius: 8px 0 0 8px;
}


.custom-card-input-area-communication {
    padding-top: 40px;
}


.checkbox-input {
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 8px;
}

.checkbox-input:hover input ~ .checkmark {
background-color: #ccc;
}

.checkbox-input input:checked ~ .checkmark {
    background-color: #20d489;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-input input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.custom-account-hr {
    width: 80%;
    background-color: #F4F6F8;
}


.setup-login-verification-button button {
    background-color: #e4fff4;
    color: #20D489;
    border-radius: 10px;
    transition: 0.6s;
}

.setup-login-verification-button button:hover {
    background-color: #20D489;
    color: #e4fff4;
    border-radius: 10px;
    transition: 0.6s;
}


.deactivate-your-account-button button {
    background-color: #fff3f6;
    color: #f1416c;
    border-radius: 10px;
    transition: 0.6s;
}

.deactivate-your-account-button button:hover {
    background-color: #f1416c;
    color: #fff3f6;
    border-radius: 10px;
    transition: 0.6s;
}

.save-changes-account-button button {
    border-radius: 10px;
    background-color: #20D489;
    color: white;
    font-weight: bold;
}

.save-changes-account-button button:hover {
    background-color: #28ffa7;
    font-weight: bold;
    color: white;
}

.cancel-account-button button {
    border-radius: 10px;
    background-color: #e4fff4;
    color: #20D489;
    font-weight: bold;
}

.cancel-account-button button:hover {
    background-color: #d8f4ea;
    font-weight: bold;
    color: #20D489;
}