.search-area {
    margin-bottom: 100px;
}

@media only screen and (min-width: 1200px) {
    .search-area {
        padding: 30px 600px 0 600px;
    }   
}

.close-button button {
    background-color: #d2fee5;
    color: #19B674;
    border-radius: 10px;
}

.close-button button:hover {
    background-color: #19B674;
    color: #91fccd;
}

.search-input {
    padding-top: 70px;
}

.search-input input {
    border: none;
    max-width: 700px;
    height: 100px;
    font-size: 56px;
    outline: 0;
}

.search-input input:hover {
    border: none;
    outline: 0;
}

.middle-top h5 {
    padding-top: 20px;
    font-weight: bold;
}


.middle-first-box {
    background-image: url("../img/img-1.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 15px;
    min-width: 155px;
    min-height: 125px;
    transition: 0.5s;
}

.middle-first-box:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.middle-second-box {
    background-image: url("../img/img-13.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 15px;
    min-width: 155px;
    min-height: 125px;
    transition: 0.5s;
}

.middle-second-box:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.middle-long-box {
    background-image: url("../img/img-14.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 15px;
    min-width: 155px;
    min-height: 270px;
    transition: 0.5s;
}

.middle-long-box:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.middle-big-box {
    background-image: url("../img/img-17.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 15px;
    min-width: 155px;
    min-height: 270px;
    transition: 0.5s;
}

.middle-big-box:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

/****************************************/
/*ACHIEVEMENT AREA*/

.achievement-area-top {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}


.achievement-area button {
    margin-top: 10px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
}

.achievement-area a {
    font-weight: bold;
    color: black;
    transition: 0.7s;
}
.achievement-area a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #2DD690;
    transition: 0.7s;
}

.peoples-achievement-layer button {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.peoples-achievement-layer button i:hover {
    color: #2DD690;
}

.achievement-area-top {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}




/*ACHIEVEMENT AREA*/
/****************************************/


.search-area-bottom span {
    color: #19B674;
}

.search-area-bottom a {
    font-weight: bold;
    color: #191919;
    transition: 0.5s;
}

.search-area-bottom a:hover {
    color: #19B674;
    transition: 0.5s;
    text-decoration: none;
}