.header button {
    background-color: #E4FFF4;
    color: #20D489;
}

.header button:hover {
    background-color: #20D489;
    color: white;
}


.middle p {
    color: #7a7b7c;
    transition: 0.5s;
    cursor: pointer;
}

.middle p:hover {
    color: #2DD690;
    transition: 0.5s;
}


/*Header Right Label Area Styling*/

.security-box {
    background-color: #E7F6FF;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.security-box:hover {
    background-color: #C8EBFF;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.demo-box {
    background-color: #FFF3F6;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.demo-box:hover {
    background-color: #FFD4DF;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.try-now-box {
    background-color: #FFF8DD;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.try-now-box:hover {
    background-color: #FFF2BE;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.payment-methods-box {
    background-color: #C5FFE8;
    margin: 10px;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.payment-methods-box:hover {
    background-color: #91fccd;
    margin: 10px;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}


.support-box {
    background-color: #FFF8DD;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.support-box:hover {
    background-color: #FFF2BE;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}


.installation-box {
    background-color: #E7F6FF;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}

.installation-box:hover {
    background-color: #C8EBFF;
    min-width: 155px;
    min-height: 125px;
    border-radius: 15px;
    transition: 0.5s;
}


.quick-start-box {
    background-color: #F6F1FC;
    min-width: 155px;
    height: 310px;
    border-radius: 15px;
    transition: 0.5s;
}

.quick-start-box:hover {
    background-color: #E6D8F7;
    min-width: 155px;
    height: 310px;
    border-radius: 15px;
    transition: 0.5s;
}

/*Header Right Label Area Styling*/


.quick-start-box-img {
    background-image: url('../img/iconstartpage.png');
    background-size: 100px;
    background-repeat: no-repeat;
    margin-top: 100px;
    width: 100px;
    height: 100px;
}